body {
  background-color: black;
  font-family: consolas;
  color: white;
  overflow: hidden;
}

#main {
  width: 700px;
}

#header {
  color: yellow;
  margin: auto;
}

canvas#webglCanvas {
  border: none;
}

#params {
  position: absolute;
  left: 730px;
  top: 15px;
}

#input_pow {
  margin-left: 81px;
}

#input_real {
  margin-left: 46px;
}

#pow, #real, #imag {
  width: 35px;
}

#params2 {
  position: absolute;
  left: 730px;
  top: 100px;
}

#input_pow, #input_real, #input_imag {
  width: 300px;
}
